uploadss.html<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .sidenav{
        border: none;
    }
    .panel-default{
        border: none;
    }
    .mytitle{
        font-size: 18px;
        color: #3A3C3C;
        font-family: pingfang;
    }
    .upload-g{
        color: #899294;
        font-size: 16px;
        margin-left: 13px;
    }
    .upload-g:hover{
        color: #899294;
    }
    .panel-body{
        padding: 15px 0;
    }
    .page-header{
        padding-left: 23px;
        margin-top: 12px !important;
        margin-bottom: 2px !important;
        padding-bottom: 28px !important;
        border-bottom: 2px solid #F5F5F5;
    }
    .list-nav{
        padding: 0 10px;
    }
    .list-nav>li{
        float: left;
        margin-left: 5px;
    }
    .list-nav>li>a{
        color: #202020 !important;
        font-size: 16px;
        background: none !important;
        transition: all 0.3s ease;
        padding: 13px 8px 6px;
        margin: 0 9px;
        border-top: none;
        border-radius: unset !important;
    }
    .nav-span{
        float: right;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 14px;
        background: #E3E3E3;
        transition: all 0.3s ease;
        cursor: pointer;
        vertical-align: bottom;
        margin: 13px 7px 0 0 ;
    }
    .nav-span:hover{
        background: #72D6E5;
    }
    .nav-span:hover .select-span{
        display: block;
    }
    .nav-bg{
        background: #72D6E5;
    }
    .img-div{
        width: 239px;
        height: 239px;
        max-height: 239px;
        text-align: center;
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        margin: 0 auto;
    }
    .img-div a img{
        background: #ccc;
        display: block;
        margin: 0 auto;
        max-height: 239px;
    }
    .nav-text{
        display: inline-block;
        padding: 6px 20px;
    }
    .select-span{
        position: absolute;
        width: 100%;
        background: #0a6aa1;
        display: inline-block;
        left: 0;
        display: none;
        top: 32px;
        background: #fff;
        padding: 4px 0;
        box-shadow: rgba(0,0,0,.1) 0px 0px 1px;
    }
    .select-span a{
        color: #868F91;
        font-size: 16px;
        display: block;
        transition: all 0.3s ease;
        text-align: center;
        padding: 5px 0;
    }
    .select-span a:hover{
        color: #72D6E5;
    }
    .nav-pills > li.active > a{
        border-bottom: 4px solid #72D6E5;
    }
    .tab-content{
        padding: 0 15px;
    }
    .list-content{
        margin-top: 14px;
        padding: 0 23.988px;
    }
    .list-item{
        padding: 0 8px;
    }
    .item-div{
        position: relative;
        max-width: 100%;
        width: 100%;
        transition:all .3s;
    }
    .item-div:hover{
        box-shadow: rgba(0,0,0,.2) 0px 0px 4px;
    }
    .checkbox-div{
        position: absolute;
        width: 22px;
        height: 22px;
        cursor: pointer;
        right: 11px;
        border-radius: 20px;
        top: 12px;
        z-index: 1;
        opacity: 0;
        background: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        box-shadow: rgba(0,0,0,.2) 0px 0px 3px;
    }
    .checkbox-click{
        opacity: 1;
    }
    .checkbox-bg{
        background-image: url("/assets/img/yes.png");
    }
    .checkbox-div input{
        width: 22px;
        height: 22px;
        cursor: pointer;
        opacity: 0;
        margin-top: 0;
        z-index: 8;
    }
    .item-div:hover .checkbox-div{
        /*display: block;*/
        /*opacity: 1;*/
    }
    .ul-list{
        border: 1px solid #E5E5E5;
        padding: 5px 0 5px;
     }
    .ul-list li{
        text-align: center;
        color: #8F8E96;
        font-size: 12px;
        border: none;
        padding: 4px 15px;
    }
    .item-title a{
        color: #000;
        font-size: 14px;
    }
    .last-li{
        padding-top: 3px !important;
    }
    .last-li .star{
        vertical-align: top;
        margin-right: 5px;
    }

    .page{
        text-align: right;
        padding-right: 10px;
    }
    

    @media (min-width: 992px){
        .col-md-my-3 {
            width: 19.324%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
        }
        .col-md-my-9{
            width: 80.676%;
            float: left;
            padding-left: 18px;
            padding-right: 15px;
        }
    }

    .col-md-my-9{
                width: 80.676%;
                float: left;
                padding-left: 18px;
                padding-right: 15px;
            }
   
   .widget am-cf{
    width: 735px;
    height: 755px;

   }
     

    .header{
        border: 1px solid #F5F5F5;
        width: 999px;
        height: 249px;
        margin-left: 19px;
    }
    .header-title{
        width: 356px;
        height: 26px;
        /*border: 1px solid red;*/
        margin-left: 335px;
        margin-top: 28px;
    }
    .title-a{
        width: 162px;
        height: 25px;
        /*border: 1px solid red;*/
        text-align:center;
        line-height:25px;
        font-weight: 500;
        font-size:13pt;
        float: left;
        margin-left: 12px;
    }
    .title-b{
        float: left;
        width: 3px;
        height: 21px;
        background-color: #72D6E5;
        margin-left: 10px;
        margin-top: 2px;
    }
    .title-c{
        float: left;
        width: 140px;
        height: 25px;
        /*border: 1px solid red;*/
        font-weight: 400;
        font-size:13pt;
        text-align:center;
        line-height:25px;
        margin-left: -5px;
    }
    .icons{
        width: 853px;
        height: 83px;
        /*border: 1px solid red;*/
        margin-left: 110px;
        margin-top: 40px;
    }
    .icon-yh{
        width: 79px;
        height: 82px;
        background-color:#FFF5EE;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
    }
        .icon-tj{
        width: 79px;
        height: 82px;
        margin-left: 93px;
        background-color:#F1FDFF;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
    }
       .icon-mx{
        width: 79px;
        height: 82px;
        margin-left: 93px;
        background-color:#ECF7FF; 
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
    }
        .icon-zz{
        width: 79px;
        height: 82px;
        margin-left: 93px;
        background-color:#DEFFF8; 
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
    }
    .h{
        width: 30px;
        height: 2px;
        background-color: #44D7B6;
        margin-left: 22px;
        margin-top: -25px; 
    }
    .icon-sc{
        width: 79px;
        height: 82px;
        margin-left: 93px;
        background-color:#F7F5FF; 
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
    }
    .text-z{
        width: 853px;
        height: 22px;
        /*border: 1px solid red;*/
        margin-left: 110px;
        margin-top: 18px;
    }
    .text-yh{
        width: 90px;
        height: 21px;
        /*border: 1px solid red;*/
        text-align:center;
        line-height:21px; 
         font-weight: 600;
         float: left;
    }
    .text-tj{
        width: 105px;
        height: 21px;
        /*border: 1px solid red;*/
        margin-left: 64px;
        text-align:center;
        line-height:21px; 
         font-weight: 600;
         float: left;
    }
    .text-mx{
        width: 90px;
        height: 21px;
        /*border: 1px solid red;*/
        margin-left: 79px;
        text-align:center;
        line-height:21px; 
         font-weight: 600;
         float: left;
    }
        .text-zz{
        width: 120px;
        height: 21px;
        /*border: 1px solid red;*/
        margin-left: 70px;
        text-align:center;
        line-height:21px; 
         font-weight: 600;
         float: left;
    }
    .text-sc{
        width: 100px;
        height: 21px;
        /*border: 1px solid red;*/
        margin-left: 60px;
        text-align:center;
        line-height:21px; 
         font-weight: 600;
         float: left;
    }
    .time{
        width: 197px;
        height: 20px;
        /*border: 1px solid red;*/
        color: #BEC8CA;
        margin-left: 390px;
        margin-top: 13px;
        text-align:center;
        line-height:21px; 
    }

</style>

<link rel="stylesheet" href="__CDN__/assets/layui/css/layui.css"/>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-12 breadcrumb-div">
            <ul class="breadcrumb">
                <li><a class="breadcrumb-a-xm" href="{:url('component/index')}">我的构件</a></li>
                <li class="active">构件列表</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-my-3">
            {include file="common/comsidenav" /}
        </div>
        <div class="col-md-my-9">
            <div class="panel">
              <div class="panel-body">
                    <h2 class="page-header">
                        <span class="mytitle">我的构件</span>
                        <a href="" class="upload-g">生成你的专属内容更新</a>
                    </h2>
              </div>
                <div class="widget am-cf" style="width: 1040px;height: 865px;">
                    <div class="header">
                        <div class="header-title">
                            <div class="title-a">
                                 专属企业码生成流程
                            </div>
                            <div class="title-b">
                            </div>
                            <div class="title-c">
                                Typical cases
                            </div>
                        </div> 
                        <div class="icons">
                             <div class="icon-yh">
                                <i class="layui-icon" style="font-size: 40px;text-align:center;line-height:83px;font-weight: 600;color: #FCA46A;-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);display:block;">&#xe601;</i>  
                            </div> 
                            <div class="icon-tj">
                                <i class="layui-icon" style="font-size: 40px;text-align:center;line-height:80px;font-weight: 600;color: #72D6E5;margin-left: 17px;">&#xe609;</i>  
                            </div>
                            <div class="icon-mx">
                                <i class="layui-icon" style="font-size: 40px;text-align:center;line-height:80px;font-weight: 600;color: #0091FF;margin-left: 19px;">&#xe63c;</i>  
                            </div>  
                            <div class="icon-zz">
                                <i class="layui-icon" style="font-size: 40px;text-align:center;line-height:80px;font-weight: 600;color: #44D7B6;margin-left: 19px;">&#xe642;</i>
                                <div class="h"></div>
                            </div> 
                            <div class="icon-sc">
                                <i class="layui-icon" style="font-size: 35px;text-align:center;line-height:85px;font-weight: 600;color: #6236FF;margin-left: 22px;">&#xe672;</i>  
                            </div> 
                        </div>
                        <div class="text-z">
                            <div class="text-yh">
                                用户上传构件
                            </div>
                            <div class="text-tj">
                                提交至秒象官方
                            </div>
                            <div class="text-mx">
                                秒象审核调整
                            </div>
                            <div class="text-zz">
                                制作秒象数字固件
                            </div>
                            <div class="text-sc">
                                生成专属企业码
                            </div>
                        </div>
                        <a href="" class="layui-btn" style="background-color: #ffff;color: #72D6E5;border: 1px solid #72D6E5;width: 201px;40px;font-weight:500; margin-top: 100px;margin-left: 390px">复制我的专属企业码</a>
                        <a href="" class="layui-btn" style="background-color: #72D6E5;color: #ffff;width: 201px;40px;font-weight:500; margin-top: 10px;margin-left: 390px">更新秒象专属企业码</a>
                        <div class="time">
                        上次更新于2020.08.24 19：20
                        </div>

                    </div> 
                </div>   
            </div>
        </div>
    </div>
</div>




