<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .sidenav{
        border: none;
    }
    .panel-default{
        border: none;
    }
    .mytitle{
        font-size: 18px;
        color: #3A3C3C;
        font-family: pingfang;
    }
    .upload-g{
        color: #899294;
        font-size: 16px;
        margin-left: 13px;
    }
    .upload-g:hover{
        color: #899294;
    }
    .panel-body{
        padding: 15px 0;
    }
    .page-header{
        padding-left: 23px;
        margin-top: 12px !important;
        margin-bottom: 2px !important;
        padding-bottom: 28px !important;
        border-bottom: 2px solid #F5F5F5;
        float: left;
    }
    .list-nav{
        padding: 0 10px;
    }
    .list-nav>li{
        float: left;
        margin-left: 5px;
    }
    .list-nav>li>a{
        color: #202020 !important;
        font-size: 16px;
        background: none !important;
        transition: all 0.3s ease;
        padding: 13px 8px 6px;
        margin: 0 9px;
        border-top: none;
        border-radius: unset !important;
    }
    .nav-span{
        float: right;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 14px;
        background: #E3E3E3;
        transition: all 0.3s ease;
        cursor: pointer;
        vertical-align: bottom;
        margin: 13px 7px 0 0 ;
    }
    .nav-span:hover{
        background: #72D6E5;
    }
    .nav-span:hover .select-span{
        display: block;
    }
    .nav-bg{
        background: #72D6E5;
    }
    .img-div{
        width: 239px;
        height: 239px;
        max-height: 239px;
        text-align: center;
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        margin: 0 auto;
    }
    .img-div a img{
        background: #ccc;
        display: block;
        margin: 0 auto;
        max-height: 239px;
    }
    .nav-text{
        display: inline-block;
        padding: 6px 20px;
    }
    .select-span{
        position: absolute;
        width: 100%;
        background: #0a6aa1;
        display: inline-block;
        left: 0;
        display: none;
        top: 32px;
        background: #fff;
        padding: 4px 0;
        box-shadow: rgba(0,0,0,.1) 0px 0px 1px;
    }
    .select-span a{
        color: #868F91;
        font-size: 16px;
        display: block;
        transition: all 0.3s ease;
        text-align: center;
        padding: 5px 0;
    }
    .select-span a:hover{
        color: #72D6E5;
    }
    .nav-pills > li.active > a{
        border-bottom: 4px solid #72D6E5;
    }
    .tab-content{
        padding: 0 15px;
    }
    .list-content{
        margin-top: 14px;
        padding: 0 23.988px;
    }
    .list-item{
        padding: 0 8px;
    }
    .item-div{
        position: relative;
        max-width: 100%;
        width: 100%;
        transition:all .3s;
    }
    .item-div:hover{
        box-shadow: rgba(0,0,0,.2) 0px 0px 4px;
    }
    .checkbox-div{
        position: absolute;
        width: 22px;
        height: 22px;
        cursor: pointer;
        right: 11px;
        border-radius: 20px;
        top: 12px;
        z-index: 1;
        opacity: 0;
        background: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        box-shadow: rgba(0,0,0,.2) 0px 0px 3px;
    }
    .checkbox-click{
        opacity: 1;
    }
    .checkbox-bg{
        background-image: url("/assets/img/yes.png");
    }
    .checkbox-div input{
        width: 22px;
        height: 22px;
        cursor: pointer;
        opacity: 0;
        margin-top: 0;
        z-index: 8;
    }
    .item-div:hover .checkbox-div{
        /*display: block;*/
        /*opacity: 1;*/
    }
    .ul-list{
        border: 1px solid #E5E5E5;
        padding: 5px 0 5px;
     }
    .ul-list li{
        text-align: center;
        color: #8F8E96;
        font-size: 12px;
        border: none;
        padding: 4px 15px;
    }
    .item-title a{
        color: #000;
        font-size: 14px;
    }
    .last-li{
        padding-top: 3px !important;
    }
    .last-li .star{
        vertical-align: top;
        margin-right: 5px;
    }

    .page{
        text-align: right;
        padding-right: 10px;
    }
    

    @media (min-width: 992px){
        .col-md-my-3 {
            width: 19.324%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
        }
        .col-md-my-9{
            width: 80.676%;
            float: left;
            padding-left: 18px;
            padding-right: 15px;
        }
    }

    .col-md-my-9{
                width: 80.676%;
                float: left;
                padding-left: 18px;
                padding-right: 15px;
            }
   
   .widget am-cf{
    width: 735px;
    height: 755px;

   }
/*   .form-item-a{
    width: 735px;
    height: 755px;

   }*/
    .form-label-1{
        width: 64px;
        height: 22px;
      /*  size: 16pt;*/
        border: solid 1px #FFFFFF;
        /*color: red;*/
        margin-left: 39px;

    }
    .lift{
        margin-left: 160px;
        margin-top: -34px;
    }
    .lift li{
        width: 108px;
        height: 36px;
        border: solid 1px #E3E3E3;
        text-align: center;
        line-height:36px; 
        float: left;
        font-weight: 0.5px;
        color: #E3E3E3;
        /*font-size:10pt;*/

    }
    #test20{

        text-align: center;
        line-height:36px; 
        float: left;
        font-weight: 0.5px;
        color: #E3E3E3;
    }
    .layui-btn{
        margin-left: 100px;
    }
    .page-header-a{
        margin-top: 15px;
    }
    .people{
        margin-left: 8px;
         font-size: 18px;
         color: #3A3C3C;
         float: left;
    }
    
    .c-ssk{
      margin-top: -8px;
      margin-left:700px;
/*      width: 261px;
      height: 41px;
      border: 1px solid red*/

    }
    .ssk{
       width: 260px;
       height: 40px;
       text-indent: 50px;
       font-size: 15px
    }

    /*按钮*/
    .anniu{
        margin-top: 19px;
        /*height: 83px;*/
    }
    .xl{
        background-color: #ffff;
        color: #979797;
        border: 1px solid #979797;
        width: 120px;
        height: 40px;
        margin-left:856px;
        margin-top: -40px;
        font-size:15px;
        text-indent: 10px;
    }
    .line{
        height: 40px;
        border: 1px solid #F9FAFC;
        background-color: #F9FAFC;
        margin-top: 26px;
    }
    .layui-form-item-a{
        margin-left: 22px;
        margin-top: 8.5px;
        float: left;
    }
    .name{
        font-size: 16px;
        color: #979797;
        float: left;
        margin-top: 9.5px;
        margin-left:24px;
    }
    .name-a{
        width: 132px;
        font-size: 16px;
        color: #979797;
        float: left;
        margin-top: 9.5px;
        margin-left:24px;
        
    }
    .title-a{
        font-size: 16px;
        color: #979797;
        float: left;
        margin-top: 9.5px;
        margin-left:154px;
    }
    .title-b{
        width: 140px;
        height: 22px;
        font-size: 16px;
        color: #979797;
        float: left;
        margin-top: 9.5px;
        text-align: center;
        /*margin-left:154px;*/
    }

</style>
<script src="__CDN__/assets/layui/layui.js"></script>
<link rel="stylesheet" href="__CDN__/assets/layui/css/layui.css"/>

<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-12 breadcrumb-div">
            <ul class="breadcrumb">
                <li><a class="breadcrumb-a-xm" href="">我的构件</a></li>
                <li class="active">构件列表</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-my-3">
            {include file="common/public" /}
        </div>
        <div class="col-md-my-9">
            <div class="panel">
              <div class="panel-body">
                    <div class="page-header-a">
                        <div class="people">上海秒搭数字科技有限公司</div>
                        <div href="{:url('component/uploads')}" class="people">{$people}人</div>
                    </div>
                   
                    <div class="c-ssk">
                        <input type="text" id="txtSearch" name="title" placeholder="搜索部门、成员" class="ssk">
                        <i class="layui-icon" style="margin-left: -250px ;margin-top:10px;">&#xe615;</i> 
                    </div>

              </div>
               <hr style="margin-top: 10px;">
                <div class="widget am-cf" style="height: 500px">
                    <!-- 按钮 -->
                    <div class="anniu">
                        <a href="{:url('admin/add')}"  class="layui-btn" style="background-color: #ffff;color: #72D6E5;border: 1px solid #72D6E5;width: 106px;height:40px;
                        font-weight: 500;font-size: 17px;margin-left: 22px;text-align: center;">分发账号</a>
                        <button  class="layui-btn parent_check" style="background-color: #ffff;color: #979797;border: 1px solid #979797;width: 106px;height:40px;
                        font-weight: 500;font-size: 17px;margin-left: 60px">批量操作</button>
                        <button  id="item_delete" class="layui-btn" style="background-color: #ffff;color: #979797;border: 1px solid #979797;width: 72px;height:40px;
                        font-weight: 500;font-size: 17px;margin-left: 20px">删除</button>
                        <button  class="layui-btn" style="background-color: #ffff;color: #979797;border: 1px solid #979797;width: 106px;height:40px;
                        font-weight: 500;font-size: 17px;margin-left: 20px;">微信邀请</button>
                    </div>
                    <!-- 下拉框 -->
                    <div class="layui-inline">
                        <select id="fenlei" name="category_id" class="xl">
                            <option value="" name="category_id" class="classify-a">选择身份</option>
                            <option value="企业" id="identity" name="category_id" class="classify">企业</option>
                            <option value="设计师" id="identity" name="category_id" class="classify">设计师</option>
                            <option value="销售员" id="identity" name="category_id" class="classify">销售员</option>
                            <option value="工厂" id="identity" name="category_id" class="classify">工厂</option>
                            <option value="管理员" id="identity" name="category_id" class="classify">管理员</option>
                        </select>
                    </div>
                    <!-- 列表 -->
                    <div class="line">
                        <!-- 全选 -->
                       
                        <div class="layui-form-item-a">

                           
                              <!--全选-->
                              <input type="checkbox" id="all" class="parent_check">

                        </div>
                         <!-- 单选 -->
  

                        <ul>
                            <li class="name">姓名</li>
                            <li class="title-a">部门</li>
                            <li class="title-a">手机号</li>
                            <li class="title-a">登录身份</li>
                            <li class="title-a">登录时间</li>
                        </ul>
                    </div>
                     <!-- 列表2 -->
                    {foreach $admin_account as $v}
                    <div class="line sx" data-id="{$v.id}" >
                        <!-- 单选 -->
                            <div class="dataBox" style="float: left;margin-left: 22px;margin-top: 8.5px">
                              <ul >
                                <li >
                                  <input value="{$v.id}" type="checkbox" id="checkbox_1" class="son_check">
                                </li>
                              </ul>
                            </div>
                        <ul>
                            <li class="name-a">{$v.name}</li>
                            <li class="title-b">{$v.department}</li>
                            <li class="title-b" style="width: 260px">{$v.cellphone}</li>
                            <li class="title-b" style="width: 150px">{$v.identity}</li>
                            <li class="title-b" style="width: 150px;margin-left:85px; ">{$v.create_time}</li>
                        </ul>
                    </div>
                    {/foreach}
                </div>   
            </div>
        </div>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<!-- 分类展示 -->
<script type="text/javascript">
$(function(){
  $("#fenlei").change(function(){
    var data=$(this).val();  //获取点击目标的数据
    // console.log(data)
     // $.post("{:url('index')}"
     //                 , {
     //                    fenlei: id,
     //                }
     //                , function (result) {
     //                        if(result.status == 200){

     //                        }else{
                            
     //                        }
     //                    });

    });
})




$(function () {

        // 删除元素
        $('.item-delete').click(function(){

            var data = $(this).data();
            layer.confirm('确定要删除该商品吗？'
                , {title: '友情提示'}
                , function (index) {
                    $.post("{:url('del')}"
                        , {
                            category_id: data.id
                        }
                        , function (result) {
                           
                            if(result.status == 200){
                                $.show_success(result.msg, result.url)
                            }else{
                                $.show_error(result.msg)
                            }
                        });
                    layer.close(index);
                }
                );
            //阻止a标签跳转
            return false
        })

    });
</script>


<!-- 全选单选 -->
<script type="text/javascript">   
$(function () {
    //全局的checkbox选中和未选中的样式
    $parentChexbox = $('.parent_check'), //全选
    $dataBox = $('.dataBox'),            //用于判断全局与子类的关系
    $sonCheckBox = $('.son_check'); //单个子类选中     
    $sx = $('.sx'); 
    //全局全选与单个的关系
    $parentChexbox.click(function () {
        var $checkboxs = $dataBox.find('input[type="checkbox"]');
        if ($(this).is(':checked')) {
            $checkboxs.prop("checked", true);
        } else {
            $checkboxs.prop("checked", false);
        }
    });
    
    $sonCheckBox.each(function () {
        $(this).click(function () {
            if ($(this).is(':checked')) {
                //判断：所有单个是否勾选
                var len = $sonCheckBox.length;
                var num = 0;
                $sonCheckBox.each(function () {
                    if ($(this).is(':checked')) {
                        num++;
                    }
                });
                if (num == len) {
                    $parentChexbox.prop("checked", true);
                }
            } else {
                //单个取消勾选，全局全选取消勾选
                $parentChexbox.prop("checked", false);
            }
        })
       
    })
    
      $('#item_delete').click(function () {
           var data=[]; 
              $sonCheckBox.each(function () {
                     if ($(this).is(':checked')) {
                       data.push($(this).val())
                      };  
                 })
              var id=JSON.stringify( data );
                 for (var i = 0; i <=data.length-1 ; i++) {
                     if(i==0){
                        id=data[0]
                     } else{
                        id=id+','+data[i]
                     }
                 }
                
                $.post("{:url('del')}"
                     , {
                        fa_admin_account_id: id,
                    }
                    , function (result) {
                            if(result.status == 200){
                                  // 删除之后自动刷新局部
                                $sx.each(function (){
                                    var sid=$(this).data('id')
                                    // console.log(sid)
                                    for(var i = 0; i < data.length; i++){
                                        // console.log(data[i])
                                           if(sid == data[i]){
                                               $(this).remove()
                                            }
                                      }
                                }) 

                            }else{
                            
                            }
                        });
        //     layer.confirm('确定要删除该商品吗？'
        //         , {title: '友情提示'}
        //         , function (index) {
        //             $.post("{:url('del')}"
        //                 , {
        //                     fa_admin_account_id: data,
        //                 }
        //                 , function (result) {
                           
        //                     // if(result.status == 200){
        //                     //     // $.show_success(result.msg, result.url
        //                     // }else{
        //                     //     // $.show_error(result.msg)
        //                     // }
        //                 });
        //             layer.close(index);
        //         }
        //      );

        });

});

</script>

<!-- 删除 -->


                   
                   
                  
                  

                       
                        
                       
                       

 